.header-icon-text .header-icon-text-link .header-icon-text-link__el span {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}
.header-icon-text .header-icon-text-link .header-icon-text-link__el span:nth-child(1) {
  color: #d34272;
}
.header-icon-text .header-icon-text-link .header-icon-text-link__el span:nth-child(2) {
  color: #1dbb90;
}

.h-container {
  max-width: 90%;
  margin: 0 auto;
}

.header-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-icon-text {
  margin: 40px 0 30px 0;
}
.header-icon-text .header-icon-text-link {
  text-decoration: none;
}
.header-icon-text .header-icon-text-link .header-icon-text-link__el {
  font-size: 28px;
}
.header-icon-text .header-icon-text-link p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 20px;
  color: #aaaaaa;
  padding-left: 25px;
}

.header-icon-block {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-icon-block .header-icon-block-link {
  text-decoration: none;
  margin-right: 7px;
}
.header-icon-block .header-icon-block-link > img {
  width: 30px;
  height: 31px;
}
.header-icon-block .header-icon-block-link:last-child {
  margin-right: 0;
}

.header-icon-tel {
  margin: 30px 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  position: relative;
}
.header-icon-tel .header-icon-tel__sp {
  margin-right: 42px;
  text-transform: uppercase;
  font-size: 17px;
}
.header-icon-tel .header-icon-tel__a {
  display: inline-block;
  text-decoration: none;
  color: #d34272;
  font-weight: bold;
  font-size: 21px;
}
.header-icon-tel .header-icon-tel__img {
  position: absolute;
  right: 55%;
  top: -7px;
}

.header-inner {
  background-color: #1dbb90;
  position: relative;
}
.header-inner:before {
  position: absolute;
  content: "";
  height: 113px;
  width: 100%;
  background-color: #d34272;
  z-index: 0;
  bottom: 0;
}

.header-inner-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-inner-block-image {
  display: none;
}
.header-inner-block-image img {
  max-width: 100%;
  height: auto;
}

.header-inner-block-text {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header-inner-block-text-el {
  margin-bottom: 102px;
}
.header-inner-block-text-el h3 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 33px;
  line-height: 40px;
  padding-top: 30px;
}
.header-inner-block-text-el p {
  font-size: 15px;
  line-height: 26px;
  color: #474747;
  margin-top: 27px;
}

.header-inner-block-text-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}
.header-inner-block-text-link a {
  text-decoration: none;
  text-transform: capitalize;
  z-index: 3;
  padding: 12px 15px;
  color: #fff;
  background-color: #1dbb90;
  font-size: 18px;
}
.header-inner-block-text-link a:hover {
  background-color: #474747;
}

@media only screen and (min-width: 1024px) {
  .h-container {
    max-width: 940px;
  }

  .header-icon {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .header-icon-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-icon-text {
    -ms-flex-preferred-size: 508px;
        flex-basis: 508px;
    margin: 38px 0 31px 0;
  }

  .header-icon-block {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    padding-right: 15px;
  }

  .header-icon-tel {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin: 3px 0;
  }

  .header-inner:after {
    content: "";
    position: absolute;
    width: 495px;
    height: 100%;
    background-color: rgba(150, 146, 146, 0.1);
    top: 0;
    -webkit-transform: skew(25deg);
            transform: skew(25deg);
    right: 15%;
    z-index: 3;
  }

  .header-inner-block-image {
    display: block;
    -ms-flex-preferred-size: 509px;
        flex-basis: 509px;
    z-index: 2;
    margin: 60px 0 51px 0;
  }

  .header-inner-block-text {
    -ms-flex-preferred-size: 445px;
        flex-basis: 445px;
    padding-left: 55px;
    margin-top: 92px;
  }
  .header-inner-block-text h3 {
    padding: 0;
    line-height: 60px;
    font-size: 43px;
  }

  .header-inner-block-text-el {
    margin-bottom: 70px;
  }

  .header-inner-block-text-link {
    margin: 0;
  }
  .header-inner-block-text-link a {
    padding: 17px 35px;
    z-index: 4;
  }
}
