@import "variable";

.check-container{
    max-width: 90%;
    margin: auto;
}

.check{
    @include flx(row, wrap);
    margin-top: 51px;

}

.check-head{
    flex-basis: 100%;
    @extend %template_span;
    text-align: center;
    font-size: 23px;
    margin-bottom: 56px;
}


.check-block{
    @include flx(row, wrap);
    margin-bottom: 54px;
   
}

.check-block-head{
    flex-basis: 100%;
    @extend %template_span;
    text-align: center;
}

.check-block-text{
    flex-basis: 100%;
    text-align: justify;
    margin-top: 30px;
    font-size: 15px;
    line-height: 24px;
    color: #787878;
}

.check-block-image{
    display: none;
}


@media only screen and (min-width:1024px){
    
    .check-container{
        max-width: 900px;
    }

    .check{
        justify-content: space-between;

        .check-block{
            flex-basis: 260px;
        }
    }

    .check-head{
        font-size: 32px;
    }

    .check-block-image{   
        display: block;
        padding-right: 23px;
        img{
            width: 70px;
            height: 60px;
        }
    }

    .check-block-head{
        flex-basis: 165px;
        font-size: 25px;
        text-align: left;
    }

}