@import "variable";

.sign{
    @include flx(row,wrap);
}

.sign-head{
    flex-basis: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    margin: 50px 0 44px 0;
    line-height: 39px;

}

.sign-head-inner{
    @include flx(row,nowrap);
    justify-content: center;

    .sign-head-inner-block{
        @extend %template_span;
    }
}

.sign-block{
    flex-basis: 100%;
    @include flx(column,nowrap);
    color: #fff;
    padding: 0 50px;
    margin-bottom: 50px;

    .sign-block__p{
        padding: 9px 0;
        text-align: center;
        font-size: 18px;
       
        text-transform: uppercase;

        span{
            font-size: 27px;
            letter-spacing: 0;
        }
    }

    .sign-block__head{
        text-transform: uppercase;
        padding: 28px 0;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }
}

.sign-block-list{
    list-style: none;
    font-size: 15px;

    li{
        position: relative;
        margin-bottom: 22px;
        margin-left: 0px;
    }

    li:before{
        position: absolute;
        content: "";
        border: 5px solid #fff;
        border-color: transparent
                      transparent
                      transparent
                      #fff;
        left: -15px;
        top: 4px;
    }
}

.sign-block__link{
    display: inline-block;
    padding: 10px 40px;
    text-align: center;
    font-size: 15px;
    margin: 3px 0 23px 0;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    align-self: flex-end;
}

.sign-block_gray{
    background-color: $bgray;

    .sign-block__p{
        background-color: $green;
    }

    .sign-block__link{
        background-color: $green;
    }
}

.sign-block_pink{
    background-color: $pink;

    .sign-block__p{
        background-color: $bgray;
    }

    .sign-block__link{
        background-color: $bgray;
    }
}

.sign-block_green{
    background-color: $green;

    .sign-block__p{
        background-color: $pink;
    }

    .sign-block__link{
        background-color: $pink;
    }
}

@media only screen and (min-width:1024px){
    .sign{
        flex-wrap: wrap;
        justify-content: space-between;

        .sign-head{
            line-height: 39px;
            font-size: 32px;
        }

        .sign-head-inner-block{
            flex-basis: 50%;
        }

        .sign-block{
            flex-basis: 300px;
        }
    }
}